
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-2:before { content: '\e801'; } /* '' */
.icon-next:before { content: '\e802'; } /* '' */
.icon-prev:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-tri:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-address:before { content: '\e808'; } /* '' */
.icon-arrow:before { content: '\e809'; } /* '' */
.icon-close:before { content: '\e80a'; } /* '' */
.icon-fb:before { content: '\e80b'; } /* '' */
.icon-gotop:before { content: '\e80c'; } /* '' */
.icon-ig:before { content: '\e80d'; } /* '' */
.icon-line:before { content: '\e80e'; } /* '' */
