
.icon-up-open-mini:before { content: '\e800'; } /* '' */
.icon-cart:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-fb:before { content: '\e803'; } /* '' */
.icon-ig:before { content: '\e804'; } /* '' */
.icon-discount:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-down-open-mini:before { content: '\e807'; } /* '' */
.icon-arrow-left:before { content: '\e808'; } /* '' */
.icon-arrow-right:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-person:before { content: '\e80d'; } /* '' */
.icon-file:before { content: '\e80e'; } /* '' */
.icon-ok-1:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-zoom-in:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-address:before { content: '\e813'; } /* '' */
.icon-line:before { content: '\e815'; } /* '' */
.icon-fb-1:before { content: '\e816'; } /* '' */
.icon-card:before { content: '\e817'; } /* '' */
.icon-ticket:before { content: '\e818'; } /* '' */
.icon-line-2:before { content: '\e819'; } /* '' */
.icon-email:before { content: '\e81a'; } /* '' */
