
.icon-search:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-close:before { content: '\e803'; } /* '' */
.icon-fb:before { content: '\e804'; } /* '' */
.icon-gotop:before { content: '\e805'; } /* '' */
.icon-ig:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-next:before { content: '\e809'; } /* '' */
.icon-prev:before { content: '\e80b'; } /* '' */
.icon-address:before { content: '\e80c'; } /* '' */
