@keyframes upDown{
	0% {
        transform: translate(-50%,0px);
	}
	100% {
	 	transform:  translate(-50%,10px);
	}
}


@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 20px, 0)
	}

	100% {
		opacity: 1;
		transform: none
	}
}
@keyframes fadeInUp2 {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInUp3 {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInleft {
	0% {
		opacity: 0;
		transform: translate3d(10px, 0, 0)
	}

	100% {
		opacity: 1;
		transform: none
	}
}
@keyframes arrowmove {
	0% {
		transform:none;
	}
	50% {
		transform: translateX(120%);
		opacity: 0;
	}
	60% {
		transform: translateX(-120%);
		opacity: 0;
	}
	100% {
		transform:none;
	}
}