html{
	&.menuOpen{
		overflow: hidden;
		header{
			.mask{
				pointer-events: all;
				opacity: 1;
				cursor: pointer;
			}
		
			.menu-section{
				left: 0;
				.tlt_menu{
					span {
						animation-name: fadeInUp3;
						animation-duration: .5s;
						animation-timing-function: 1;
						animation-fill-mode: forwards;
					}
				}
				.menu li a .ch {
					transform: none;
					opacity: 1;
					transition: transform .6s,opacity .6s;
					transition-delay: 1s;
				}
				.society div{
					opacity: 1;
					transform: none;
					
					&:nth-child(1){
						transition-delay: .8s;
					}
					&:nth-child(2){
						transition-delay: .9s;
					}
					&:nth-child(3){
						transition-delay: 1s;
					}
				}
			}
		}
	}
	&.searchOpen {
		overflow: hidden;
		header {
			.mask {
				pointer-events: all;
				opacity: 1;
				cursor: pointer;
			}
			.search-section {
				left: 0;
				.title{
					transform: none;
					opacity: 1;
					transition-delay: .5s;
				}
				.sub {
					transform: none;
					opacity: 1;
					transition-delay: .6s;
				}
				.descript {
					transform: none;
					opacity: 1;
					transition-delay: .7s;
				}
				form {
					transform: none;
					opacity: 1;
					transition-delay: .8s;
				}
			}
		}
	}
	&.scrollMode {
		body.white-header{
			header{
				.logo-wrapper{
					.logo {
						img {
							&:nth-child(2) {
								width: 56px;
							}
						}
					}
				}
			}
		}
		header{
			background: white;
			height: 80px;
			color: black;
			.menu-toggle{
				.toggle{
					.bar{
						background: black;
					}
				}
			}
			.logo-wrapper{
				.logo{
					margin-bottom: 0;
					img{
						&:nth-child(1){
							opacity: 0;
						}
						&:nth-child(2){
							opacity: 1;
						}
					}
				}
				.slogan{
					opacity: 0;
				}
			}
			.contact{
				border:1px solid black;
				&:hover{
					background: black;
					color:white;
				}
			}
			.menu-section{
				padding-top: 20px;
				.scrollbarY{
					margin-top: 138px;
				}
			}
			.search-section {
				padding-top: 20px;
			}
		}
	}
	@media(max-width:767px){
		&.scrollMode header{
			height: 56px;
		}
	}
}

body.white-header{
	header{
		background: white;
		color: black;
		.menu-toggle {
			.toggle {
				.bar {
					background: black;
				}
			}
		}
		.logo-wrapper {
			.logo {
				margin-bottom: 0;
				img {
					&:nth-child(1) {
						opacity: 0;
					}

					&:nth-child(2) {
						opacity: 1;
						width: 74px;
					}
				}
			}

			.slogan {
				opacity: 0;
			}
		}

		.contact {
			border: 1px solid black;
			&:hover{
				background: black;
				color:white;
			}
		}
		.max1700{
			border-bottom:1px solid #CFCFCF;
		}
	}
	main{
		padding-top:170px ;
	}
	@media(max-width:1199px){
		main{
			padding-top: 100px;
		}
	}
	@media(max-width:767px) {
		main {
			padding-top: 86px;
		}
	}
}

header{
	height: 170px;
	color:white;
	transition:all .3s ;
	.mask{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.5);
		pointer-events: none;
		opacity: 0;
		transition: opacity .3s;
	}
	.max1700{
		border-bottom:1px solid rgba(255,255,255,0.5);
	}
	.menu-toggle{
		transition: all .3s;
		&:hover{
			color:$red;
			.toggle .bar{
				background: $red !important;
				&:nth-child(1){
					left: 0;
				}
				
			}
		}
		.toggle{
			width: 50px;
			height: 11px;
			.bar{
				width: 38px;
				height: 1px;
				background: white;
				position: absolute;
				transition: all .3s;
				&:nth-child(1){
					top: 0;
					left: 12px;
				}
				&:nth-child(2){
					top: 10px;
					left: 0;
				}			
			}
		}
	}
	.logo-wrapper{
		width: 100px;
		.logo{
			width: 74px;
			margin-bottom: 16px;
			transition: all .3s;
			img{
				transition: all .3s;
				&:nth-child(2){
					opacity: 0;
					width: 56px;
				}
			}
		}
		.slogan{
			width: 100px;
			transition: all .3s;
		}
	}
	.contact{
		border:1px solid white;
		letter-spacing: 2px;
		padding: 12.5px 29px;
		transition: all .3s;
		&:hover{

			background: white;
			color:black;
		}
	}
	.icon-search{
		font-size: 23px;
	}
	.icon-fb{
		font-size: 24px;
	}
	.icon-ig{
		font-size: 22px;
	}
	.icon-line{
		font-size: 21px;
	}
	//menu
	.menu-section {
		top: 0; 
		bottom: 0;
		left: -100%;
		width: 980px;
		color:black;
		padding-left: 100px;
		transition: all .6s;
		padding-top: 64px;
		
		button{
			i{
				font-size: 28px;
			}
		}
		.scrollbarY{
			height: calc(100vh - 470px);
			margin-top: 94px;
		}
		.number-block{
			opacity: 0;
			transition: all .3s;
			&.active{
				opacity: 1;
			}
			div{
				height: 90px;
				transition: all .3s;
				font-size: 13px;
				>span{
					transform: rotate(180deg);
					>span:nth-child(1){
						position: relative;
						&::after{
							content:"";
							display: block;
							position: absolute;
							width: 1px;
							height: 8px;
							background: black;
							top: 20px;
							left: 8px;
						}
					}
				}
			}
		}
		.menu{
			&.menuHoverMode{
				li{
					a{
						color:rgba(0,0,0,0.4);
						&.active{
							color:black;
						}
					}
				}
			}
			li{
				margin-bottom: 3px;
				a{
					padding: 18px 0;
					&:hover{
						color:black;
					}
					.tlt_menu {
						span:nth-child(n) {
							display: inline-block;
							opacity: 0;

						}
					}
					.en{
						font-weight: 500;
						&.news{
							>span{
								&:nth-child(1){
									span{
										&:nth-child(1) {
											animation-delay: .5s;
										}
										&:nth-child(2){
											animation-delay: .55s;
										}
										&:nth-child(3){
											animation-delay: .6s;
										}
									}
								}
								&:nth-child(2){
									span{					
										&:nth-child(1){
											animation-delay: .65s;
										}

										&:nth-child(2) {
											animation-delay: .7s;
										}

										&:nth-child(3) {
											animation-delay: .75s;
										}
										&:nth-child(4) {
											animation-delay: .8s;
										}
									}
								}
							}
						}
						&.about {
							>span {
								&:nth-child(1) {
									span {
										&:nth-child(1) {
											animation-delay: .5s;
										}
										&:nth-child(2) {
											animation-delay: .55s;
										}

										&:nth-child(3) {
											animation-delay: .6s;
										}
										&:nth-child(4) {
											animation-delay: .65s;
										}
										&:nth-child(5) {
											animation-delay: .7s;
										}
									}
								}

								&:nth-child(2) {
									span {
										&:nth-child(1) {
											animation-delay: .75s;
										}

										&:nth-child(2) {
											animation-delay: .8s;
										}

										&:nth-child(3) {
											animation-delay: .85s;
										}

										&:nth-child(4) {
											animation-delay: .9s;
										}
									}
								}
								&:nth-child(3) {
									span {
										&:nth-child(1){
											animation-delay: 1s;
										}

										&:nth-child(2) {
											animation-delay: 1.05s;
										}

										&:nth-child(3) {
											animation-delay: 1.1s;
										}

										&:nth-child(4) {
											animation-delay: 1.15s;
										}
									}
								}
							}
						}
						&.projects{
							>span {
								&:nth-child(1) {
									span {
										&:nth-child(1) {
											animation-delay: .5s;
										}
										&:nth-child(2) {
											animation-delay: .55s;
										}

										&:nth-child(3) {
											animation-delay: .6s;
										}
										&:nth-child(4) {
											animation-delay: .65s;
										}

										&:nth-child(5) {
											animation-delay: .7s;
										}
										&:nth-child(6) {
											animation-delay: .75s;
										}

										&:nth-child(7) {
											animation-delay: .8s;
										}

										&:nth-child(8) {
											animation-delay: .85s;
										}

									}
								}
							}
						}
						&.services{
							>span {
								&:nth-child(1) {
									span {
										&:nth-child(1) {
											animation-delay: .5s;
										}
										&:nth-child(2) {
											animation-delay: .55s;
										}

										&:nth-child(3) {
											animation-delay: .6s;
										}
										&:nth-child(4) {
											animation-delay: .65s;
										}

										&:nth-child(5) {
											animation-delay: .7s;
										}
										&:nth-child(6) {
											animation-delay: .75s;
										}
										&:nth-child(7) {
											animation-delay: .8s;
										}
									}
								}

							}
						}
						&.contact-span {
							>span {
								&:nth-child(1) {
									span {
										&:nth-child(1) {
											animation-delay: .5s;
										}
										&:nth-child(2) {
											animation-delay: .55s;
										}

										&:nth-child(3) {
											animation-delay: .6s;
										}

										&:nth-child(4) {
											animation-delay: .65s;
										}

										&:nth-child(5) {
											animation-delay: .7s;
										}

										&:nth-child(6) {
											animation-delay: .75s;
										}

										&:nth-child(7) {
											animation-delay: .8s;
										}
									}
								}
								&:nth-child(2) {
									span {
										&:nth-child(1) {
											animation-delay: .85s;
										}

										&:nth-child(2) {
											animation-delay: .9s;
										}
									}
								}
							}
						}
					}
					.ch{
						transform: translateX(-50px);
						opacity: 0;

					}
				}
			}
		}
		.society{
			div{
				transform: translateY(10px);
				opacity: 0;
				transition: all .3s;
				&+div{
					margin-left: 40px;
				}
			
				a{
					width: 70px;
					height: 70px;
					border:1px solid rgba(0,0,0,0.2);
					color:black;
					transition: all .3s;

					&:hover{
						background: black;
						color:white;
					}
				}
				.icon-fb {
					font-size: 20px;
				}
				.icon-ig{
					font-size: 20px;
				}
				.icon-line {
					font-size: 19px;
				}
			}
		}
	}
	.search-section {
		top: 0;
		bottom: 0;
		left: -100%;
		width: 980px;
		transition: all .6s;
		padding-top: 64px; 
		.wrapper{
			position: absolute;
			top: 37%;
			left: 50%;
			transform: translate(-50%,-50%);
			.title,
			.sub,
			.descript,
			form{
				transform: translateY(10px);
				opacity: 0;
				transition: all .3s;
				i{
					font-size: 22px;
				}
			}
		}
		button {
			margin-left: 100px;
			i {
				font-size: 28px;
			}
		}
		.sub{
			&:after{
				width: 64px;
			}
		}
		p{
			color:#676767;
		}
	}
	@media(max-width:1199px){
		height: 100px;
		.logo-wrapper{
			width: 70px;
			.logo{
				width: 50px;
				margin-bottom: 8px;
			}
			.slogan{
				width: 70px;
			}
		}
		.menu-section{
			width: 690px;
			padding-left: 30px;
			padding-top: 34px;
			.scrollbarY{
				margin-top: 30px !important;
				height: calc(100vh - 300px);
			}
		}
		.search-section{
			padding-top: 34px;
			width: 690px;
			button{
				margin-left: 30px;
			}
		}
		.contact{
			padding: 8px 25px;
		}
	}
	@media(max-width:991px){
		.contact{
			padding: 4px 10px;
			letter-spacing: 1px;
		}
	}
	@media(max-width:767px) {
		height: 67px;
		.blank{
			padding-left: 27px;
			padding-right: 27px;
		}
		.logo-wrapper{
			width: 42px;
			.logo{
				width: 42px;
				margin-bottom: 0;
			}
		}
		.contact {
			border:0 !important;
			padding: 0;
		}
		.menu-toggle .toggle{
			width: 30px;
			height: 9px;
			.bar{
				width: 23px;
				&:nth-child(1){
					left: 7px;
				}
				&:nth-child(2) {
					top: 8px;
				}
			}
		}
		.menu-section{
			padding: 24px !important;
			width: 100%;
			color:black;
			transition: all .3s;
			background: rgba(255,255,255,0.95) !important;
			button i{
				font-size: 18px;
			}
			.close{
				font-size: 16px;
			}
			.scrollbarY{
				margin-top: 20px !important;
				height: calc(100vh - 320px);
			}
			.menu{
				li {
					a {
						padding: 13px 0;
						.fz-60 {
							letter-spacing: 0;
						}

						.NotoSerifTC {
							font-size: 16px;
						}
						.en {
							&.news {
								>span {
									&:nth-child(1) {
										span {
											&:nth-child(1) {
												animation-delay: .3s;
											}

											&:nth-child(2) {
												animation-delay: .325s;
											}

											&:nth-child(3) {
												animation-delay: .35s;
											}
										}
									}

									&:nth-child(2) {
										span {
											&:nth-child(1) {
												animation-delay: .375s;
											}

											&:nth-child(2) {
												animation-delay: .4s;
											}

											&:nth-child(3) {
												animation-delay: .425s;
											}

											&:nth-child(4) {
												animation-delay: .45s;
											}
										}
									}
								}
							}

							&.about {
								>span {
									&:nth-child(1) {
										span {
											&:nth-child(1) {
												animation-delay: .3s;
											}

											&:nth-child(2) {
												animation-delay: .325s;
											}

											&:nth-child(3) {
												animation-delay: .35s;
											}

											&:nth-child(4) {
												animation-delay: .375s;
											}

											&:nth-child(5) {
												animation-delay: .4s;
											}
										}
									}

									&:nth-child(2) {
										span {
											&:nth-child(1) {
												animation-delay: .425s;
											}

											&:nth-child(2) {
												animation-delay: .45s;
											}

											&:nth-child(3) {
												animation-delay: .475s;
											}

											&:nth-child(4) {
												animation-delay: .5s;
											}
										}
									}

									&:nth-child(3) {
										span {
											&:nth-child(1) {
												animation-delay: .525s;
											}

											&:nth-child(2) {
												animation-delay: .55s;
											}

											&:nth-child(3) {
												animation-delay: .575s;
											}

											&:nth-child(4) {
												animation-delay: .6s;
											}
										}
									}
								}
							}

							&.projects {
								>span {
									&:nth-child(1) {
										span {
											&:nth-child(1) {
												animation-delay: .3s;
											}

											&:nth-child(2) {
												animation-delay: .325s;
											}

											&:nth-child(3) {
												animation-delay: .35s;
											}

											&:nth-child(4) {
												animation-delay: .375s;
											}

											&:nth-child(5) {
												animation-delay: .4s;
											}

											&:nth-child(6) {
												animation-delay: .425s;
											}

											&:nth-child(7) {
												animation-delay: .45s;
											}

											&:nth-child(8) {
												animation-delay: .475s;
											}

										}
									}
								}
							}

							&.services {
								>span {
									&:nth-child(1) {
										span {
											&:nth-child(1) {
												animation-delay: .3s;
											}

											&:nth-child(2) {
												animation-delay: .325s;
											}

											&:nth-child(3) {
												animation-delay: .35s;
											}

											&:nth-child(4) {
												animation-delay: .375s;
											}

											&:nth-child(5) {
												animation-delay: .4s;
											}

											&:nth-child(6) {
												animation-delay: .425s;
											}

											&:nth-child(7) {
												animation-delay: .45s;
											}
										}
									}

								}
							}

							&.contact-span {
								>span {
									&:nth-child(1) {
										span {
											&:nth-child(1) {
												animation-delay: .5s;
											}

											&:nth-child(2) {
												animation-delay: .55s;
											}

											&:nth-child(3) {
												animation-delay: .6s;
											}

											&:nth-child(4) {
												animation-delay: .65s;
											}

											&:nth-child(5) {
												animation-delay: .7s;
											}

											&:nth-child(6) {
												animation-delay: .75s;
											}

											&:nth-child(7) {
												animation-delay: .8s;
											}
										}
									}

									&:nth-child(2) {
										span {
											&:nth-child(1) {
												animation-delay: .85s;
											}

											&:nth-child(2) {
												animation-delay: .9s;
											}
										}
									}
								}
							}
						}

						.ch {
							transform: translateX(-30px);
							opacity: 0;
							transition-delay: .6s !important;

						}
					}
				}

			}
			.society{	
				div{
					&:nth-child(1) {
						transition-delay: .4s !important;
					}

					&:nth-child(2) {
						transition-delay: .425s !important;
					}

					&:nth-child(3) {
						transition-delay: .45s !important;
					}
					&+div{
						margin-left: 11px;
					}
					a{
						width: 50px;
						height: 50px;

					}
					.icon-fb{
						font-size: 16px;
					}
					.icon-ig{
						font-size: 18px;
					}
					.icon-line{
						font-size: 17px;
					}
				}
			}

		}
		.search-section{
			background: rgba(255, 255, 255, 1) !important;
			transition: all .3s;
			padding: 24px !important;
			width: 100%;
			.wrapper{
				top: 46%;
				padding-left: 24px;
				padding-right: 24px;
			}
			button{
				margin-left: 0;
				i{
					font-size: 18px;
				}
				
			}

			.close {
				font-size: 16px;
			}
			.title{
				font-size: 32px;
			}
			.sub{
				font-size: 22px;
			}
		}
		.icon-search{
			font-size: 19px;
		}
		.icon-mail{
			font-size: 15px;
		}
		.recruit-link-mobile{
			height: 60px;
		}
		.mCSB_inside>.mCSB_container{
			margin-right: 0;
		}
	}
} 

.recruit-link {
	width: 60px;
	height: 178px;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #D70025;
	transition: all .3s;
	&:hover{
		background: #F9012B;
	}
}



footer{
	background: #B3B0B3;
	&::before {
		content: "";
		display: block;
		position: absolute;
		bottom: 172px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 383px);
		height: 1px;
		background: rgba(255, 255, 255, 0.3);
		z-index: -1;
	}
	.gotop{
		width: 40px;
		height: 40px;
		bottom: 160px;
		right: 110px;
		font-size: 20px;
		transition: all .3s;
		&:hover{
			color:#EFCD76;
		}
	}
	.logo-wrapper{
		width: 130px;
		.logo{
			width: 80px;
		}
	}

	.menu{
		&.menuHoverMode{
			a{
				opacity: 0.6;
				&.active{
					opacity: 1;
				}
			}
		}
		li{
			&+li{
				position: relative;
				&::before{
					content:"";
					display: block;
					width: 3px;
					height: 3px;
					background: white;
					border-radius: 50%;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);	
				}
			}
		}
		a{
			padding: 5px 15px;
			transition: all .3s;
		}
	}
	.info{
		a{
			&:hover{
				color:#EFCD76;
			}
		}
		&>*:not(:last-child){
			margin-bottom: 3px;
		}
		
	}
	.copyright-section{
		.society{
			&.menuHoverMode {
				a {
					opacity: 0.6;

					&.active {
						opacity: 1;
					}
				}
			}
			a{
				width: 48px;
				height: 48px;
				color:#B3B0B3;
				margin: 0 12px;
				transition: all .3s;
			}
		}
		.icon-fb{
			font-size: 20px;
		}
		.icon-line{
			font-size: 21px;
		}
		p{
			a{
				padding: 0 10px;
				&:hover{
					color:#EFCD76;
				}
				&+a{
					position: relative;
					&::before{
						content:"";
						display: block;
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 1px;
						height: 15px;
						background: white;
					}
				}
			}
		}
	}
	@media(max-width:1599px){
		&::before{
			width: calc(100% - 243px);
		}
		.gotop{
			right: 40px;
		}
	}
	@media(max-width:767px){
		&::before {
			bottom: 224px;
			width:calc(100% - 48px);
		}
		.gotop {
			width: 82px;
			height: 46px;
			background: #B3B0B3;
			i{
				font-size: 12px;
				&::before{
					margin: 0;
				}
			}
		}
		.logo-wrapper{
			width: 90px;
			.logo{
				width: 55px;
			}
		}
		.menu{
			font-size: 18px;
			max-width: 300px;
			li:nth-child(4){
				&::before{
					display: none;
				}
			}
			a{
				padding: 2px 4px;
			}
		}
	}
}