.menu{
	>li{
		&+li{
			position: relative;
			&::before{
				content:'';
				display: block;
				position: absolute;
				top: 50%;
				left: -17px;
				width: 2px;
				height: 2px;
				background: $lightBlue;
				border-radius: 50%;
			}
		}
		.menu-link{
			transition: color .3s;
			&.active{
				position: relative;
				&::after{
					content:"";
					display: block;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
					width: 61px;
					height: 6px;
					background: $lightBlue;
				}
			}
			&:hover{
				color:$lightBlue !important;
			}
		}
		.submenu{
			font-weight: 500;
			padding: 16px 0;
			text-align: center;
			position: absolute;	
			width: 180px;
			left: 50%;
			transform: translateX(-50%);
			display: none;
			li{
				a{
					padding: 10px 16px;
					color:rgba(255,255,255,0.5);
					&:hover{
						color:white;
					}
				}
			}
		}
	}
	@media(max-width:1199px){
		>li+li::before{
			left: -10px;
		}
	}
	@media(max-width:991px){
		>li{
			
			&::before{
				display: none !important;
			}
			.menu-link{
				border-bottom:1px solid rgba(255, 255, 255, 0.5);
				&:hover{
					color:white !important;
				}
			}
			.submenu{
				position: static;
				transform: none;
				width: 100%;
				padding: 0;
				li{
					text-align: initial;
					border-bottom:1px solid rgba(255, 255, 255, 0.2);
					a{
						padding: 12px 0;
						padding-left: 16px;
						color:white;
					}
				}
			}
		}
	}
}
html.menuOpen{
	overflow: hidden;
	header{
		.menu-toggle{
			.wrapper{
				div{
					&.bar1 {
						top: 6px;
						transform: rotate(-45deg);
					}
					&.bar2 {
						opacity: 0;
					}
					&.bar3 {
						top:6px;
						transform: rotate(45deg);
					}
				}
			}
		}
		.menu-wrapper{
			transform: none;
		}
	}

} 
header{
	.logo{
		width: 224.5px;
	}
	.menu-toggle{
		width: 40px;
		height: 40px;
		top: 16px;
		right: 12px;
		.wrapper{
			width: 16px;
			height: 12px;
			div{
				height: 2px;
				transition: all .5s;
				left:0;
				&.bar1 {
					top:0px;
				}
				&.bar2 {
					top:5px;
				}
				&.bar3 {
					top:10px;
				}
			}
		}
	}
	.tools{
		a{
			&:hover{
				i{
					color:$lightBlue;
				}
			}
			i{
				transition: color .3s;
				&.icon-heart {
					font-size: 22px;
				}

				&.icon-cart {
					font-size: 24px;
				}
			}
			.num-tag {
				min-width: 28px;
				height: 28px;
				border-radius: 30px;
			}
		}


	}
	.mail{
		position: relative;
		&::after{
			content:"";
			display: block;
			width: 1px;
			height: 20px;
			background: #4C567D; 
			position: absolute; 
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
	@media(max-width:991px){
		.menu-wrapper{
			position: fixed;
			top: 68px;
			right: 0;
			height: calc(100vh - 68px); 
			width: 300px;
			background: $primary; 
			transform: translateX(100%);
			transition: all .3s;
			overflow-y: auto;
		}
	}
	@media(max-width:767px){
		.logo{
			width: 150px;
		}
	}
	@media(max-width:575px) {
		.menu-wrapper{
			width: 100%;
		}
	}
}
.bottom-section {
	height: 544px;
	@media(max-width:1199px){
		height: 400px;
	}
	@media(max-width:991px) {
		height: 300px;
	}
	@media(max-width:575px) {
		height: 250px;
	}
}
footer{
	.logo{
		width: 130px;
	}
	.outer-link{
		width: 60px;
		height: 60px;
	}
	.goTop{
		width: 60px;
		height: 60px;
		right: 40px;
		bottom: 40px;
		opacity: 0;
		pointer-events: none;
		transition:opacity .3s;
		&.show{
			opacity: 1;
			pointer-events: all;
		}
	}
	@media(max-width:1199px){
		.goTop {
			width: 50px;
			height: 50px;
			right: 24px;
			bottom: 24px;
		}
	}
	@media(max-width:767px){ 
		.logo{
			width: 100px;
		}
		.outer-link {
			width: 50px;
			height: 50px;
		}
		.goTop {
			width: 40px;
			height:40px;
		}
	}
	@media(max-width:340px){
		.outer-link{
			margin: 0 5px !important;
		}
	}
}
