#index{
    &.menuMode{
        .main-section{
            opacity: 1;
            .menu li{
                transform: none;
                opacity: 1;
            }
        }
        .cover{
            opacity: 0;
            pointer-events: none;
        }
    }
    .linesHolder {
    }
    .animated-lines {
        height: 180vh;
        width: 180vw;
        transform: rotate(95deg);
    }
    .animated-lines path {
        fill: none;
        stroke: #0d0d17;
        stroke-width: 1.2px;
        vector-effect: non-scaling-stroke;
    }
    .main-section{
        opacity: 0;
        min-height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        position: relative;
        .logo{
            width: 90px;
        }
        .menu{
            li{
                transform: translateY(50px);
                opacity: 0;
                transition: all .5s;
                &:nth-child(2){
                    transition-delay: .2s;
                }
                &:nth-child(3) {
                    transition-delay: .4s;
                }
                &:nth-child(4) {
                    transition-delay: .6s;
                }

                &:nth-child(5) {
                    transition-delay: .8s;
                }
                &:nth-child(odd){
                    a{
                        &:hover{
                            &+.img-inner:after{
                                transform: translateX(100%);
                            }
                        }
                    }
                    .img-inner{
                        left: 0;
                        transform: translate(-20px,-50%);
                        &::after{
                            background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1) 5%);
                        }
                    }
                }
                &:nth-child(even) {
                    a {
                        &:hover {
                            &+.img-inner:after {
                                transform: translateX(-100%);
                            }
                        }
                    }
                    .img-inner {
                        right: 0;
                        transform: translate(20px,-50%);
                        &::after{
                            background: linear-gradient(to left,rgba(255,255,255,0),rgba(255,255,255,1) 5%);
                        }
                    }
                }
                a{
                    color:#C4C4C4;
                    padding: 1px 0;
                    transition: all .3s;
                    width: 600px;
                    &:hover{
                        color:black;
                        &+.img-inner{
                            opacity: 1;
                            transform: translate(0px,-50%);
                            img{
                                transform: scale(1.02);
                            }
                        }
                    }
                }
                .img-inner {
                    position: absolute;
                    top: 50%;
                    opacity: 0;
                    transition: all .3s;
                    &::after{
                        content:"";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        transition: all 1s;
                    }
                    img{
                         transition: all 2s;
                         transition-delay: 1s;
                    }
                }
            }
        }
    }
    .cover{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .3s;
        min-height: 600px;
        .wrapper{
            height: 445px;
            width: 100%;
            position: relative;
        }
        .logo-wrapper{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(2);
            width: 110px; 
            height: 110px;
            
            &.move{
                top: 55px;
                transform: translate(-50%, -50%);
                transition: all 1s;
            }
            .z{
                position: absolute;
                top: 0;
                left: -29px;
                .path{
                    width: 34px;
                }
                
            }
            .u{
                position: absolute;
                top: -26px;
                left:5px;
                .path {
                    width: 33px;
                }
            }
            .m{
                position: absolute;
                top: 18px;
                left: 10.5px;
                .path {
                    width: 49px;
                }
            }
            .i{
                position: absolute;
                top: -22px;
                left: 32.5px;
                .path {
                    width: 5px;
                }
            }
            .circle{
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
        .text{
            top: 58%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .title{
            font-size: 54px;
            letter-spacing: 16px;
        }
        .subTitle{
            font-size: 28px;
            letter-spacing: 10px;
        }
        .enter{
            letter-spacing: 3px;
        
            .enter-icon{
                width: 7px;
            }
        }
    } 
    @media(max-width:991px){
        #holder {
            transform: rotate(-45deg) translate(-10%, 46%);
        }
    }
    @media(max-width:767px){
        .cover{
            .wrapper{
                height: 320px;
            }
            .logo-wrapper{
                transform: translate(-50%, -50%) scale(1);
                &.move{
                    top:40px;
                    transform: translate(-50%, -50%) scale(0.727);
                }
                
            }
            .title{
                font-size: 36px;
                letter-spacing: 10px;
            }
            .subTitle{
                font-size: 20px;
                letter-spacing: 8px;
            }
            .fz-20{
                font-size: 15px;
                letter-spacing: 2px;
            }
            .enter .enter-icon{
                width: 5px;
            }
        }
        .main-section{
            .logo{
                width: 60px;
            }
            .menu li a{     
                color:black;
                width: auto;
                >span{
                    &:nth-child(1){
                        font-size: 16px;
                    }
                    &:nth-child(2){
                        font-size: 32px;
                    }
                }
            }
        }
    }
    @media(max-width:991px) {
        #holder {
            transform: rotate(-45deg) translate(-25%, 46%);
        }
    }
}
