#result{
    .sub::after{
        width: 64px;
        height: 2px;
    }
    .item{
        &:hover{
            .img-inner{
                img{
                    transform: scale(1.02);
                }
            }
            .text-inner{
                .title{
                    color:$red;
                }
            }
        }
        .img-inner{
            height: 406px;
            img{
                transition: all .3s;
            }
        }
        .text-inner{
            .title{
                color:black;
                transition: all .3s;
            }
        }
    }
    @media(max-width:1399px){
        .item .img-inner{
            height: 500px;
        }
    }
    @media(max-width:1199px) {
        .item .img-inner {
            height: 372px;
        }
    }
    @media(max-width:991px) {
        .item .img-inner {
            height: 426px;
        }
    }
    @media(max-width:767px) {
        .item .img-inner {
            height: auto;
        }
    }
}